<div #stage class="visualization" id="visualization">
	<svg #svgMap id="svgMap" version="1.1" width="400" height="400" xmlns="http://www.w3.org/2000/svg">
		<g id="look">
			<path d="M 0,-15 a 15 15 0 0 1 15 15"></path>
			<path d="M 0,-35 a 35 35 0 0 1 35 35"></path>
			<path d="M 0,-55 a 55 55 0 0 1 55 55"></path>
		</g>
	</svg>
	<div id="capacityBubble" class="capacityBubble">
		<div id="capacity" class="capacity"></div>
	</div>
</div>

<div class="buttons">
	<button #runButton id="runButton" class="primary" (click)="onRun()"
			title="Faz o jogador executar o que os blocos dizem.">
		<img src="assets/blockly/1x1.gif" class="run icon21"> Executar
	</button>
	<button #resetButton id="resetButton" class="primary" style="display: none" (click)="onReset()"
			title="Coloca o jogador de volta ao início do labirinto.">
		<img src="assets/blockly/1x1.gif" class="stop icon21"> Reiniciar
	</button>
</div>

<div #blocklyStage class="workspace" id="blocklyDiv"></div>

<div #popup class="popup">
	<div class="overlay" [@opacity]="{ value: overlayState, params: { value: 0.3 } }"></div>
	<div class="container">
		<div class="header"></div>
		<div class="body">
			<div class="title"></div>
			<div class="lines-text"></div>
			<pre></pre>
			<div class="done-text"></div>
		</div>
		<img id="playerSpin" class="player-spin" src="assets/blockly/1x1.gif">
		<div class="footer">
			<button id="btCancel">Retornar</button>
			<button id="btOk" class="secondary">Continuar</button>
		</div>
	</div>
</div>

<div #help class="help">
	<div class="container" [@opacity]="{ value: helpState, params: { value: 1.0 } }">
		<div class="body">
			<table></table>
		</div>
	</div>
</div>